body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1423px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:851px;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:1423px;
  height:850px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:417px;
  width:1419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:2px;
}
#u1329 {
  position:absolute;
  left:35px;
  top:134px;
  width:1348px;
  height:1px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
}
#u1332 {
  position:absolute;
  left:1245px;
  top:100px;
  width:132px;
  height:21px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:right;
}
#u1333 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1334 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1335 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:32px;
}
#u1336 {
  position:absolute;
  left:47px;
  top:90px;
  width:402px;
  height:31px;
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  white-space:nowrap;
}
#u1338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:39px;
}
#u1340 {
  position:absolute;
  left:41px;
  top:155px;
  width:200px;
  height:38px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1341 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u1342 {
  position:absolute;
  left:105px;
  top:168px;
  width:15px;
  height:12px;
}
#u1343 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:39px;
}
#u1345 {
  position:absolute;
  left:241px;
  top:155px;
  width:200px;
  height:38px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#578CEE;
}
#u1346 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1347 {
  position:absolute;
  left:288px;
  top:165px;
  width:14px;
  height:15px;
}
#u1348 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:18px;
}
#u1349 {
  position:absolute;
  left:47px;
  top:47px;
  width:253px;
  height:17px;
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#578CEE;
}
#u1350 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1352 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1353_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:1353px;
  height:206px;
}
#u1353 {
  position:absolute;
  left:41px;
  top:220px;
  width:1342px;
  height:195px;
}
#u1354 {
  position:absolute;
  left:2px;
  top:90px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:120px;
}
#u1355 {
  position:absolute;
  left:41px;
  top:296px;
  width:673px;
  height:119px;
}
#u1356 {
  position:absolute;
  left:2px;
  top:52px;
  width:669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:120px;
}
#u1357 {
  position:absolute;
  left:710px;
  top:296px;
  width:673px;
  height:119px;
}
#u1358 {
  position:absolute;
  left:2px;
  top:52px;
  width:669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u1359 {
  position:absolute;
  left:992px;
  top:321px;
  width:113px;
  height:20px;
  font-family:'Wingdings3', 'Wingdings 3';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1360 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u1361 {
  position:absolute;
  left:99px;
  top:247px;
  width:73px;
  height:25px;
  font-family:'Wingdings3', 'Wingdings 3';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
}
#u1362 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1363 {
  position:absolute;
  left:177px;
  top:250px;
  width:17px;
  height:17px;
}
#u1364 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u1365 {
  position:absolute;
  left:180px;
  top:251px;
  width:13px;
  height:16px;
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u1367 {
  position:absolute;
  left:72px;
  top:251px;
  width:21px;
  height:18px;
}
#u1368 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u1369 {
  position:absolute;
  left:299px;
  top:321px;
  width:85px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u1371 {
  position:absolute;
  left:318px;
  top:351px;
  width:38px;
  height:39px;
  font-family:'FZLTZHB--B51-0', 'Lantinghei TC Demibold', 'Lantinghei TC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#009966;
  text-align:center;
}
#u1372 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u1373 {
  position:absolute;
  left:423px;
  top:365px;
  width:15px;
  height:19px;
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
}
#u1374 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
}
#u1375 {
  position:absolute;
  left:994px;
  top:351px;
  width:112px;
  height:39px;
  font-family:'FZLTZHB--B51-0', 'Lantinghei TC Demibold', 'Lantinghei TC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#009966;
}
#u1376 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u1377 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1378 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1379_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:1353px;
  height:206px;
}
#u1379 {
  position:absolute;
  left:41px;
  top:472px;
  width:1342px;
  height:195px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:90px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:120px;
}
#u1381 {
  position:absolute;
  left:41px;
  top:548px;
  width:448px;
  height:119px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:52px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:120px;
}
#u1383 {
  position:absolute;
  left:489px;
  top:548px;
  width:448px;
  height:119px;
}
#u1384 {
  position:absolute;
  left:2px;
  top:52px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:120px;
}
#u1385 {
  position:absolute;
  left:935px;
  top:548px;
  width:448px;
  height:119px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:52px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u1387 {
  position:absolute;
  left:221px;
  top:571px;
  width:78px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1388 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u1389 {
  position:absolute;
  left:241px;
  top:601px;
  width:38px;
  height:39px;
  font-family:'FZLTZHB--B51-0', 'Lantinghei TC Demibold', 'Lantinghei TC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#F4AF3E;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u1391 {
  position:absolute;
  left:673px;
  top:569px;
  width:78px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1392 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u1393 {
  position:absolute;
  left:693px;
  top:599px;
  width:38px;
  height:39px;
  font-family:'FZLTZHB--B51-0', 'Lantinghei TC Demibold', 'Lantinghei TC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#F4AF3E;
}
#u1394 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u1395 {
  position:absolute;
  left:1117px;
  top:573px;
  width:85px;
  height:20px;
  font-family:'Wingdings3', 'Wingdings 3';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1396 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u1397 {
  position:absolute;
  left:1143px;
  top:603px;
  width:34px;
  height:39px;
  font-family:'FZLTZHB--B51-0', 'Lantinghei TC Demibold', 'Lantinghei TC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#F4AF3E;
}
#u1398 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u1399 {
  position:absolute;
  left:344px;
  top:611px;
  width:15px;
  height:19px;
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
}
#u1400 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u1401 {
  position:absolute;
  left:796px;
  top:613px;
  width:15px;
  height:19px;
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
}
#u1402 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u1403 {
  position:absolute;
  left:1231px;
  top:619px;
  width:15px;
  height:19px;
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
}
#u1404 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u1405 {
  position:absolute;
  left:99px;
  top:499px;
  width:73px;
  height:25px;
  font-family:'Wingdings3', 'Wingdings 3';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
}
#u1406 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1407 {
  position:absolute;
  left:177px;
  top:502px;
  width:17px;
  height:17px;
}
#u1408 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u1409 {
  position:absolute;
  left:180px;
  top:503px;
  width:13px;
  height:16px;
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u1411 {
  position:absolute;
  left:74px;
  top:501px;
  width:19px;
  height:18px;
}
#u1412 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1413 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:118px;
}
#u1415 {
  position:absolute;
  left:217px;
  top:237px;
  width:211px;
  height:117px;
}
#u1416 {
  position:absolute;
  left:2px;
  top:50px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u1417 {
  position:absolute;
  left:198px;
  top:254px;
  width:23px;
  height:12px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1418 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:136px;
}
#u1419 {
  position:absolute;
  left:226px;
  top:249px;
  width:194px;
  height:135px;
  font-size:10px;
  color:#FFFFFF;
}
#u1420 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1422 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:164px;
}
#u1423 {
  position:absolute;
  left:217px;
  top:488px;
  width:211px;
  height:163px;
}
#u1424 {
  position:absolute;
  left:2px;
  top:74px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u1425 {
  position:absolute;
  left:198px;
  top:505px;
  width:23px;
  height:12px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1426 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:136px;
}
#u1427 {
  position:absolute;
  left:226px;
  top:500px;
  width:194px;
  height:135px;
  font-size:10px;
  color:#FFFFFF;
}
#u1428 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u1429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1434px;
  height:41px;
}
#u1430 {
  position:absolute;
  left:0px;
  top:0px;
  width:1423px;
  height:30px;
}
#u1431 {
  position:absolute;
  left:2px;
  top:7px;
  width:1419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
}
#u1432 {
  position:absolute;
  left:1169px;
  top:5px;
  width:146px;
  height:18px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1433 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u1434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1434 {
  position:absolute;
  left:62px;
  top:4px;
  width:21px;
  height:21px;
}
#u1435 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:24px;
}
#u1436 {
  position:absolute;
  left:91px;
  top:3px;
  width:161px;
  height:23px;
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1437 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1438 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1439 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1440 {
  position:absolute;
  left:1137px;
  top:4px;
  width:22px;
  height:22px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1442 {
  position:absolute;
  left:1141px;
  top:7px;
  width:13px;
  height:14px;
  color:#FFFFFF;
}
#u1443 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u1444 {
  position:absolute;
  left:1343px;
  top:6px;
  width:25px;
  height:17px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1445 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1446 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1447 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:29px;
}
#u1448 {
  position:absolute;
  left:295px;
  top:0px;
  width:102px;
  height:28px;
  font-family:'AlBayan', 'Al Bayan Plain', 'Al Bayan';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1449 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u1450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:29px;
}
#u1450 {
  position:absolute;
  left:404px;
  top:0px;
  width:102px;
  height:28px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u1451 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u1452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:4px;
}
#u1452 {
  position:absolute;
  left:315px;
  top:27px;
  width:61px;
  height:3px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:left;
}
#u1452_img.mouseOver {
}
#u1452.mouseOver {
}
#u1452_img.selected {
}
#u1452.selected {
}
#u1453 {
  position:absolute;
  left:2px;
  top:-6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1454 {
  position:absolute;
  left:47px;
  top:47px;
  width:45px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1455 {
  position:absolute;
  left:115px;
  top:47px;
  width:45px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1456 {
  position:absolute;
  left:183px;
  top:47px;
  width:45px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
