body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2012px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1982px;
  height:215px;
}
#u285 {
  position:absolute;
  left:31px;
  top:32px;
  width:1981px;
  height:214px;
}
#u286 {
  position:absolute;
  left:2px;
  top:99px;
  width:1977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:67px;
}
#u287 {
  position:absolute;
  left:69px;
  top:64px;
  width:145px;
  height:66px;
  font-family:'FZLTZHB--B51-0', 'Lantinghei TC Demibold', 'Lantinghei TC';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u288 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:19px;
}
#u290 {
  position:absolute;
  left:69px;
  top:161px;
  width:345px;
  height:18px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
