.ax_default {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  color:#666666;
  text-align:left;
}
._二级标题 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:left;
}
._三级标题 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:left;
}
._四级标题 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
._五级标题 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:bold;
  font-style:normal;
  color:#666666;
  text-align:left;
}
._六级标题 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:left;
}
._文本段落 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
._文本链接 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.line {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.arrow {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.text_field {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.text_area {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.droplist {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.list_box {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.checkbox {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.radio_button {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.html_button {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:center;
}
._连接线 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
.sticky_1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.sticky_2 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
._流程形状 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.box_2 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.tree_node {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
._图片 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.box_3 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.ellipse {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
._形状 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.label {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
.box_1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
._形状1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
.image {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.placeholder {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
._鼠标悬停文本链接时 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
._鼠标按下文本链接时 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
._图片1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.table_cell {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.menu_item {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.sticky_3 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.sticky_4 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.marker {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.icon {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.paragraph {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.line1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.heading_1 {
  font-family:'FZLTZHB--B51-0', 'Lantinghei TC Demibold', 'Lantinghei TC';
  font-weight:650;
  font-style:normal;
  font-size:32px;
  color:#666666;
  text-align:left;
}
.heading_2 {
  font-family:'FZLTZHB--B51-0', 'Lantinghei TC Demibold', 'Lantinghei TC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:left;
}
.horizontal_line {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.shape {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.connector {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.image1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.placeholder1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.button {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.primary_button {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.link_button {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.vertical_line {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.checkbox1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.radio_button1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.iconfont {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.icon1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
._形状2 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
._图片2 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.table {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.table_cell1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.box_11 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.text_field1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.flow_shape {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.shape1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.box_12 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.icon2 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.image2 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
._文本段落1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  text-align:left;
}
._水平线 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.marker1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
  line-height:24px;
}
.ellipse1 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
._表格 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
._单元格 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
._默认样式 {
  font-family:'FZLTXHB--B51-0', 'Lantinghei TC Extralight', 'Lantinghei TC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
